<settings>

    <servers>
        <server>
            <!--仓库 ID-->
            <id>jdxl-JDXL_backend-common</id>
            <username>${env.MY_MAVEN_USERNAME}</username>
            <password>${env.MY_MAVEN_PASSWORD}</password>
        </server>
    </servers>

    <profiles>
        <profile>
            <id>Repository Proxy</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>jdxl-JDXL_backend-common</id>
                    <name>common</name>
                    <url>https://jdxl-maven.pkg.coding.net/repository/JDXL_backend/common/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
        </profile>
    </profiles>

</settings>
